<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Juego Laberinto</title>
    <link rel="stylesheet" href="./assets/css/main.css" />
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Spicy+Rice&display=swap" rel="stylesheet">  
  </head>

  <body class="body" onload="initialize()">
    <header class="header">
      <h1 class="header__title">laberinto</h1>
      <p class="header__text">Haz que el perro recoja el hueso y llegue a su casa escapando de los guardias. Usa las flechas del teclado para moverte por el laberinto.</p>
    </header>
    <main class="main" >
      <canvas id="canvas" width="1000" height="600" class="main__canvas"></canvas>
      <div class="main__message">
        <h3 class="main__title">mensajes:</h3>
        <p class="main__text">VAMOS A JUGAR</p>
      </div>
    </main>
    <small>Icons by <a target="_blank" href="https://iconos8.es">Icons8</a></small>
    <script type="text/javascript" src="./assets/js/main.js"></script>
  </body>

</html>
